.navigation-bar{
	padding-left: 1%;
}
.title-name-l{
	font-size: 1.8rem;
}
.title-name-sm{
	font-size: 1rem;
}
i{
	color: #0d47a1;
}
.sidenav .collapsible-header{
	padding-left: 32px;
	padding-right: 32px;
}
.sidenav .collapsible-body li a{
	padding-left: 48px;
	padding-right: 48px;
}
.user-sec{
	padding-top: 1.5rem !important;
	padding-bottom: 1.5rem !important;
}
th{
	padding-left: 1rem;
	padding-right: 1rem;
}
td{
	font-weight: 500;
}